
    <div id="bodyCont">
        <div class="wrap-login101">

            <div class="col-lg-6" id="UCont">
                <form asp-controller="Admin" method="post">
                    <h4 id="h4Role">Lägg till roll för användare</h4>
                    <h5>Email</h5>
                    <input type="text" name="userEmail" value="" id="UInput" />

                    <br />

                    <h5>Roll</h5>
                    <input type="text" name="role" value="" id="UInput" />
                    <br />

                    <button type="submit" name="submit" style="margin-top: 5px;"> Lägg till roll </button>
                </form>
            </div>
        </div>
    </div>
