@model ICAMVC.Models.Driver

@{
    ViewData["Title"] = "Edit";
}
    <div id="bodyCont">
        <h2>Ändra</h2>

        <h4>Chaufför</h4>
        <hr />
        <div>
            <div>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="BadgeId">ID<class ="control-label"></label>
                        <input asp-for="BadgeId" class="form-control" />
                        <span asp-validation-for="BadgeId" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Name">Namn<class ="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="submit" value="Spara" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Tillbaka till listan</a>
        </div>
    </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
