@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

    <header>
        @*<h1 class="text-danger text-uppercase text-center"><b>@ViewData["Title"]</b></h1>
        <p class="text-danger text-center">You do not have access to this resource.</p>*@


        <img src="~/images/F4FFK7.jpg" height="40%" width="50%" />
        


    </header>
