@{
    ViewData["Title"] = "MMA Logistics";
    Layout = "_layout";
}
<div class="container" style="margin-top: 15px;">


<h4>Om MMA logistics</h4>
<p>Vi skapades för att underlätta våra kunders vardag.</p>
<p>Vår affärsidé:</p>
    <ul>
        <li>Maximera transporter för att minska antalet bilar.</li>
        <li>Förbättra flödet på varor och minska svinn.</li>
        <li>Skapa en bättre arbetsmiljö för anställda.</li>
        <li>Ge anställda en bättre överblick på deras vardag i ett mer lätthanterligt system.</li>
    </ul>
</div>
