@{
    ViewData["Title"] = "Kontakt";
}

<div class="container" style="margin-top:15px;">


    <h4>MMA Logistics</h4>
    <p>Elektronikhöjden 6, 175 43 Järfälla</p>
    <p title="Phone">Telefon: 020-112233 </p>
    <strong>Support:</strong> <a href="mailto:Support@mmalogistics.com">support@mmalogistics.com</a><br />
</div>